* {
  margin: 0;
  box-sizing: border-box;
}

/* table에 존재하는 틈을 제거하기 위한 속성 */
table {
  border-collapse: collapse;
  background-color: white;
}

.cart-background {
  width: 100%;
  background-color: #cdd3de;
  padding: 30px;
}

.cart {
  margin: auto;
}

.cart-background h1,
.cart-background table {
  margin-bottom: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

/* nth-child(n) : n번째 요소에 속성 적용 */
.cart-table th:nth-child(2) {
  width: 400px;
}

.payment button {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

/* :hover, focus, active 를 동시에 넣을 땐 순서가 중요, 올렸을 때, 눌렀을 때, 누른 후  */
/* .payment button:hover {
  background-color: blue;
}

.payment button:focus {
  background-color: gray;
}

.payment button:active {
  background-color: black;
  border: 3px solid white;
} */

.custom-link {
  text-decoration: none;
}

/* 방문전 링크 스타일링은 :link */
.custom-link:link {
  color: red;
}

/* 방문후 링크 스타일링은 :visited */
.custom-link:visited {
  color: aqua;
}