* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 5px;
}

.background {
  background-color: black;
  padding: 30px;
}

.form-contact {
  margin: auto;
  width: 80%;
  max-width: 600px;
  padding: 30px;
  background-color: #eee;
}

.form-contact input[type=email] {
  font-size: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.w-100 {
  padding: 10px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.form-long {
  padding: 30px 0;
}

.yellow-button {
  float: right;
  background-color: yellowgreen;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  color: white;
}
