body {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(37, 37, 37);
}

.nav-logo {
  h1 {
    font-size: 30px;
    color: white;
  }
}

.nav-category {
  ul {
    margin-top: 5px
  }
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
  }
}

.text-white {
  color: white;
}

.search {
  padding: 20px 0;
}

.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 25%;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid black;
    &:last-child {
      margin-right: 0;
    }
    img {
      border: 1px solid black;
      margin-bottom: 10px;
    }
    #btn-style {
      width: 60px;
      
    }
  }
}

.basket-wrap {
  padding: 30px;
  margin-top: 30px;
}

.shopping-basket {
  margin: 25px 0;
  padding: 25px;
  background-color: lightgray;
  h5 {
    font-weight: 700;
  }
  .drag-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    width: 100%;
    background: black;
    padding: 20px;
    background-color: black;
    div {
      padding: 15px;
      border-radius: 5px;
      background: white;
    }
    .drag-product {
      width: 220px;
      margin: 20px;
      text-align: center;
      img {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid black;
      }
    }
  }
}