body {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(37, 37, 37);
}

.nav-logo {
  h1 {
    font-size: 30px;
    color: white;
  }
}

.nav-category {
  ul {
    margin-top: 5px
  }
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
  }
}

.text-white {
  color: white;
}

.search {
  padding: 15px 0;
}