* { 
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.row::after {
  content: '';
  clear: both;
  display: block;
}

@mixin column($size) {
  width: $size;
  float: left;
}

.col-1 {
  @include column(8.33%)
}

.col-2 {
  @include column(16.6666667%)
}

.col-3 {
  @include column(25%);
}

.col-4 {
  @include column(33.33%);
}

.col-5 {
  @include column(41.6666667%)
}

.col-6 {
  @include column(50%);
}

.col-7 {
  @include column(58.33%);
}

.col-8 {
  @include column(66.6666667%);
}

.col-9 {
  @include column(75%);
}

.col-10 {
  @include column(83.33%);
}

.col-11 {
  @include column(91.6666667%);
}

.col-12 {
  @include column(100%);
}

$bg-color : rgb(244, 244, 244);
$side-color : rgb(42, 40, 174);
$text-color : rgb(45, 45, 45);

// nav
nav {
  margin-left: 40px;
  padding: 15px 0;
  box-shadow: inset 0px -2px 1px 0px rgba(175, 175, 175, 1);
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-dropdown {
  display: none;
}

.search-box {
  display: flex;
  width: 100%;
  color: white;
}

.search-box {
  input[type=text] {
    width: 120px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 2px solid grey;
    border-right: none;
    transition: all 1s;
  }
}

.search-box {
  input[type=text]:focus {
    width: 200px;
  }
}

.search-box {
  button {
    width: 40px;
    height: 42px;
    border: 2px solid $text-color;
    border-radius: 0 5px 5px 0;
    background: $text-color;
    text-align: center;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
}

.alarm {
  float: right;
  color: $text-color;
}

.alarm {
  i {
    font-size: 15px;
    margin-right: 15px;
  }
} 

.nav-link {
  position: relative;
  color: inherit; 
  text-decoration : none;
}

.badge {
  position: absolute;
  top: -10px;
  left: -5px;
}

.bg-red {
  background: red;
  color: white;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}

.alarm span {
  margin-left: 15px;
}

// sidebar
.sidebar {
  position: fixed;
  width: 150px;
  height: 100vh;
  z-index: 5;
  color: white;
  background-color: $side-color;
  transform: translateX(-110px);
  transition: all 1s;
}

.sidebar {
  &:hover {
    transform: translateX(0px);
  }
}

.sidebar {
  div {
    margin : 15px 0px 0px 15px;
  }
}

.sidebar {
  i {
    margin-right: 15px;
    transform: translateX(105px);
    transition: all 1s;
  }
}

.sidebar {
  &:hover i {
    transform: translateX(0px);
  } 
}

// main
main {
  background: $bg-color;
  padding-left: 40px;
  margin: 0 auto;
}

.main-title {
  padding: 20px 0;
} 

.dashboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 30px;
  max-width: 330px;
  min-width: 150px;
  height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 5px 0 rgba(211,187,187,0.74);
  color: rgb(101, 101, 101);
}

.dashboard-card p {
  font-size: 17px;
  margin-bottom: 10px;
}

.dashboard-card span {
  color: black;
  font-size: 18px;
}

.dashboard-content {
  margin-right: 10px;
}

.dashboard-icon {
  font-size: 30px;
}

@mixin card-color($color) {
  border-left: 5px solid $color;
}

.card-color-skyblue {
  @include card-color(skyblue)
}

.card-color-green {
  @include card-color(green)
}

.card-color-blue {
  @include card-color(blue)
}

.card-color-yellow {
  @include card-color(yellow)
}


// chart
.card {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(211,187,187,0.74);
  margin-right: 40px;
  min-width: 250px;
}

.card-title {
  padding: 10px 15px;
  background: $bg-color;
  border-bottom: 1px solid lightgray;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: white;
  border-bottom: 1px solid lightgrey;
  word-wrap: break-word;
}

.task span {
  padding: 1px 8px;
  height: 25px;
  border-radius: 10px;
  color: white;
  background: rgb(0, 89, 255);
}

@media (max-width: 767px) {
  .col-3 {
    @include column(100%)
  }

  .col-4 {
    @include column(100%)
  }

  .col-8 {
    @include column(100%)
  }

  .nav-dropdown {
    display: flex;
    justify-content: end;
  }

  .nav-dropdown button {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 5px 0 rgba(211,187,187,0.74);
    font-size: 25px;
    color: $text-color;
  }
  
  .search-box,
  .alarm {
    display: none;
  }

  .dashboard-card {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
  }

  .card {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
