* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
  float: left;
}

.col-2 {
  width: 16.6666667%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.33%;
  float: left;
}

.col-5 {
  width: 41.6666667%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-7 {
  width: 58.33%;
  float: left;
}

.col-8 {
  width: 66.6666667%;
  float: left;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-10 {
  width: 83.33%;
  float: left;
}

.col-11 {
  width: 91.6666667%;
  float: left;
}

.col-12 {
  width: 100%;
  float: left;
}

nav {
  margin-left: 40px;
  padding: 15px 0;
  box-shadow: inset 0px -2px 1px 0px rgb(175, 175, 175);
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-dropdown {
  display: none;
}

.search-box {
  display: flex;
  width: 100%;
  color: white;
}

.search-box input[type=text] {
  width: 120px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: 2px solid grey;
  border-right: none;
  transition: all 1s;
}

.search-box input[type=text]:focus {
  width: 200px;
}

.search-box button {
  width: 40px;
  height: 42px;
  border: 2px solid rgb(45, 45, 45);
  border-radius: 0 5px 5px 0;
  background: rgb(45, 45, 45);
  text-align: center;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.alarm {
  float: right;
  color: rgb(45, 45, 45);
}

.alarm i {
  font-size: 15px;
  margin-right: 15px;
}

.nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.badge {
  position: absolute;
  top: -10px;
  left: -5px;
}

.bg-red {
  background: red;
  color: white;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}

.alarm span {
  margin-left: 15px;
}

.sidebar {
  position: fixed;
  width: 150px;
  height: 100vh;
  z-index: 5;
  color: white;
  background-color: rgb(42, 40, 174);
  transform: translateX(-110px);
  transition: all 1s;
}

.sidebar:hover {
  transform: translateX(0px);
}

.sidebar div {
  margin: 15px 0px 0px 15px;
}

.sidebar i {
  margin-right: 15px;
  transform: translateX(105px);
  transition: all 1s;
}

.sidebar:hover i {
  transform: translateX(0px);
}

main {
  background: rgb(244, 244, 244);
  padding-left: 40px;
  margin: 0 auto;
}

.main-title {
  padding: 20px 0;
}

.dashboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 30px;
  max-width: 330px;
  min-width: 150px;
  height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 5px 0 rgba(211, 187, 187, 0.74);
  color: rgb(101, 101, 101);
}

.dashboard-card p {
  font-size: 17px;
  margin-bottom: 10px;
}

.dashboard-card span {
  color: black;
  font-size: 18px;
}

.dashboard-content {
  margin-right: 10px;
}

.dashboard-icon {
  font-size: 30px;
}

.card-color-skyblue {
  border-left: 5px solid skyblue;
}

.card-color-green {
  border-left: 5px solid green;
}

.card-color-blue {
  border-left: 5px solid blue;
}

.card-color-yellow {
  border-left: 5px solid yellow;
}

.card {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(211, 187, 187, 0.74);
  margin-right: 40px;
  min-width: 250px;
}

.card-title {
  padding: 10px 15px;
  background: rgb(244, 244, 244);
  border-bottom: 1px solid lightgray;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: white;
  border-bottom: 1px solid lightgrey;
  word-wrap: break-word;
}

.task span {
  padding: 1px 8px;
  height: 25px;
  border-radius: 10px;
  color: white;
  background: rgb(0, 89, 255);
}

@media (max-width: 767px) {
  .col-3 {
    width: 100%;
    float: left;
  }
  .col-4 {
    width: 100%;
    float: left;
  }
  .col-8 {
    width: 100%;
    float: left;
  }
  .nav-dropdown {
    display: flex;
    justify-content: end;
  }
  .nav-dropdown button {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 5px 0 rgba(211, 187, 187, 0.74);
    font-size: 25px;
    color: rgb(45, 45, 45);
  }
  .search-box,
  .alarm {
    display: none;
  }
  .dashboard-card {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
  }
  .card {
    margin-right: 0;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */