.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  /* 스크린 리더에서는 읽으면서 보이지 않게 하기 위한 코드 */
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  display: flex;
  width: 840px ;
  padding: 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  margin-right: 24px;
  background-image: url('./assets/img-house.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-image: url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  background-color: #fff;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.property-type span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42857143;
  color: #7D858F;
}

.plus-badge {
  display: inline-block;
  width: 48px;
  padding: 1px 8px;
  margin-right: 6px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #92174D;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857143;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/* 가상요소는 display 값이 inline 이기 때문에 width, height 값이 안먹힘 */
.property-rate::before {
  content: '';
  display: inline-block;
  position: relative;
  top : 1.5px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.property-rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.property-rate strong {
  color: #151B26;
}

.property-rate span {
  color: #7D858F;
}

.card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  color: #151B26;
}

.card-content {
  flex-grow: 1;
  background-color: #fff;
}

.card-detail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14285714;
  color: #7D858F;
}

.property-detail dd span::after {
  content: '•';
  margin: 0 8px;
}

.property-detail dd span:last-child::after {
  content: '';
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}