.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  /* 스크린 리더에서는 읽으면서 보이지 않게 하기 위한 코드 */
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  display: flex;
  width: 840px;
  padding: 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  margin-right: 24px;
  background-image: url(./assets/img-house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url(./assets/icon-favorite.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  cursor: pointer;
}

.card-content {
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plus-badge {
  display: inline-block;
  padding: 1px 8px;
  margin-right: 6px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  color: white;
  text-transform: uppercase;
  background-color: #92174D;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7D858F;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong {
  font-weight: 400;
  color: #151B26;
}

.property-rate span {
  color: #7D858F;
}

.property-rate::before {
  content: '';
  position: relative; /* 별의 위치 조정을 위해 relative 사용(자신의 기존 위치를 기억하기 때문에 그 자리를 기준으로 이동가능 */
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #151B26;
}

.property-detail {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #7D858F;
}

.property-detail dd span::after {
  content: '•';
  margin: 0 8px;
}

/* property-detail dd 안에 있는 span의 last-child::after */
.property-detail dd span:last-child::after {
  content: '';
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}