* {
	box-sizing: border-box;
	margin: 0;
}

p {
	margin-bottom: 0;
}

.white-box {
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 2px 1px #eee;
}

/* 겹치는 효과를 위해서는 position relative와 absolute를 활용하자 */
.profile-box {
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-bottom: 4px solid #eee;
	text-align: center;
}

.profile {
	position: absolute;
	width: 12%;
	height: 40px;
	border-bottom: 4px solid skyblue;
}

.pill {
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 100px;
	padding: 3px 12px 5px 12px;
	margin-right: 2px;
	margin-bottom: 5px;
}
