* {
  margin: 0;
  box-sizing: border-box;
}

/* fixed 속성값의 *배치 기준*은 브라우저 전체화면 */
.aside {
  position: fixed;
  padding: 20px;
  width: 200px;
  height: 100%;
  z-index: 100;
  background-color: black;
  text-align: right;
  color: white;
  transform: translateX(-130px);
  transition: all 1s;
}

.aside:hover {
  text-align: center;
  transform: translateX(0px);
}

.aside:hover p {
  animation-name: slide-menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
} 

/* skew(x, y): 해당 각도만큼 기울임 */
@keyframes slide-menu {
  0% { transform: translateX(-200px) }
  50% { transform: translateX(50px) skewX(-30deg)}
  100% { transform: translateX(0px) }
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: coral;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.nav-logo {
  flex-grow: 1;
}

.nav-product {
  margin-right: 15px;
}

/* 단워 더 알아보기 : vw(브라우저 폭에 비례) / vh(브라우저 높이에 비례) */
/* .test {
  width: 100px;
  height: 100px;
  background-color: grey;
} */

/* background-position 배경 위치조정 가능 */
/* background-attachment 스크롤시 배경 위치 조정가능 */
/* filter 박스에 보정입히기(명암, 채도 등등) 주의할 점 : 사진 안에 글씨가 있으면 같이 보정이 적용됨으로 이미지가 단독으로 있을 경우 사용하는게 좋음 */
.main-background {
  /* position: relative; */
  top: 80px;
  width: 100%;
  height: 500px;
  padding: 1px;
  background-image: url(./assets/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  /* filter: brightness(70%); */
}

/* margin collapse 현상 : 박스 2개가 위쪽 테두리가 겹칠 경우 margin도 합쳐짐 */
/* margin collapse 현상을 해결하려면 테두리가 안붙게해야 함 (겹치는 부모요소에 padding 값 주기) */
.main-title {
  color: white;
  font-size: 40px;
  margin: 100px 0 25px;
  text-align: center;
}

.main-background p {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.main-background p:last-child {
  margin-bottom: 0;
}

.content-title {
  font-size: 20px;
}

.content strong {
  font-size: 18px;
}

.shopping-button {
  margin-left: 50%;
  margin-top: 25px;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: salmon;
  transition: background-color 500ms ease-in-out;
}

.shopping-button:hover {
  background-color: red;
}

.product-desc {
  position: relative;
  top: -40px;
  width: 400px;
  margin: auto;
  padding: 25px;
  background-color: gainsboro;
  text-align: center;
}


.product-desc h2 {
  margin-bottom: 10px;
}

.pseudo::first-line {
  color: red;
  font-size: 20px;
}

/* input[속성명=속성값] 모든 인풋 중 해당 속성 값만 css를 적용하고 싶을 경우 */
input[type=text] {
  padding: 20px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

/* 일부 요소 스타일링시 pseudo-element 사용 가능 */
.input-file::file-selector-button {
  background-color: skyblue;
  border: none;
  padding: 20px;
}

.input-file::file-selector-button:hover {
  background-color: brown;
}

/* shadow dom */
/* HTML 개발시 코드가 너무 복잡해지지 않기 위해 숨겨놓은 HTML 요소 */

/* -webkit- 크롬, 사파리, Edge에서만 적용되는 스타일 */
/* -ms- Explorer에서만 적용 */
/* -moz- Firefox에서만 적용 */
input[type=file]::-webkit-file-upload-button {
  background-color: skyblue;
  border: none;
}

/* appearance: none 브라우저 기본 CSS 안보이게 */
input[type=range] {
  appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-color: red;
  width: 50px;
  height: 50px;
}

progress {
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
}

progress::-webkit-progress-value {
  border-radius:10px;
  background: linear-gradient(to right, #93F9B9, #1D976C);
}

.ani-text {
  text-align: center;
}
.ani-text:hover {
  animation-name: 작명;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes 작명 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-100px);
  }

  75% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shake-button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  font-size: 20px;
}

.shake-button:hover {
  animation-name: shake;
  animation-duration: 2s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.div-plus {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 200px;
  text-align: center;
}

.shake-plus {
  position: absolute;
  text-align: center;
  font-size: 50px;
  width: 84px;
  cursor: pointer;
  z-index: 10;
}



/* animation-fill-mode 속성은 애니메이션이 끝난 후의 상태 */
/* 속성 : none, forward(그대로), backwards(시작점) */
.shake-plus:hover {
  animation-name: shake-plus;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes shake-plus {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}
/* 기호로 따로 준 버전 */
/* .div-plus:hover .ani-1 {
  animation-name: shake-plus1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes shake-plus1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(180deg) scale(1.5);
  }
}

.div-plus:hover .ani-2 {
  animation-name: shake-plus2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes shake-plus2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(180deg) scale(1.5);
  }
} */
/* 현재 브라우저 폭이 1200px 이하일 경우 */
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
}