* {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px;
  background-color: coral;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.nav-logo {
  flex-grow: 2;
}

.nav-product {
  margin-right: 15px;
}

/* 단워 더 알아보기 : vw(브라우저 폭에 비례) / vh(브라우저 높이에 비례) */
/* .test {
  width: 100px;
  height: 100px;
  background-color: grey;
} */

/* background-position 배경 위치조정 가능 */
/* background-attachment 스크롤시 배경 위치 조정가능 */
/* filter 박스에 보정입히기(명암, 채도 등등) 주의할 점 : 사진 안에 글씨가 있으면 같이 보정이 적용됨으로 이미지가 단독으로 있을 경우 사용하는게 좋음 */
.main-background {
  /* position: relative; */
  width: 100%;
  height: 500px;
  padding: 1px;
  background-image: url(./assets/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  /* filter: brightness(70%); */
}

/* margin collapse 현상 : 박스 2개가 위쪽 테두리가 겹칠 경우 margin도 합쳐짐 */
/* margin collapse 현상을 해결하려면 테두리가 안붙게해야 함 (겹치는 부모요소에 padding 값 주기) */
.main-title {
  color: white;
  font-size: 40px;
  margin: 100px 0 25px;
  text-align: center;
}

.main-background p {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.main-background p:last-child {
  margin-bottom: 0;
}

.content-title {
  font-size: 20px;
}

.content strong {
  font-size: 18px;
}

.shopping-button {
  margin-left: 50%;
  margin-top: 25px;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: salmon;
  transition: background-color 500ms ease-in-out;
}

.shopping-button:hover {
  background-color: red;
}

.product-desc {
  position: relative;
  top: -40px;
  width: 400px;
  margin: auto;
  padding: 25px;
  background-color: gainsboro;
  text-align: center;
}


.product-desc h2 {
  margin-bottom: 10px;
}

/* input[속성명=속성값] 모든 인풋 중 해당 속성 값만 css를 적용하고 싶을 경우 */
input[type=text] {
  padding: 20px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}


/* 현재 브라우저 폭이 1200px 이하일 경우 */
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
}