* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.landing-button {
  padding: 10px;
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.landing-button:hover {
  background-color: brown;
}

/* fs-dis */
.fs-dis {
  display: flex;
  max-width: 2000px;
  padding: 50px 50px 0 50px;
  background: linear-gradient(to bottom, rgba(5, 137, 244, 0.704) 60%, rgba(77, 58, 250, 0.868));
}

.fs-dis-desc {
  width: 50%;
  color: white;
  margin-right: 15px;
}

.fs-dis-desc h2,
.fs-dis-desc p {
  margin-bottom: 10px;
}

.fs-dis-desc h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
}

.fs-dis-desc p {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
}

.fs-dis-img {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.fs-dis-img img {
  display: block;
  width: 250px;
  height: 300px;
}

/* next-portfolio */

.next-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.next-portfolio strong,
.next-portfolio p {
  margin-bottom: 5px;
}

/* service */
.service {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 58, 250, 0.868);
  color: white;
}

.service-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-desc .item {
  margin-right: 20px;
}

.service-desc .item:last-child {
  margin-right: 0;
}

.service-button {
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  color: rgba(77, 58, 250, 0.868);
}

.service-button:hover {
  background-color: lightgrey;
}

.service-desc h4 {
  font-weight: 400;
  font-size: 20px;
}

/* portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.portfolio-item1 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: url(assets/portfolio-1.jpg);
  background-size: cover;
}

.portfolio-item2 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: url(assets/portfolio-2.jpg);
  background-size: cover;
}

.portfolio-item3 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: url(assets/portfolio-3.jpg);
  background-size: cover;
}

.portfolio-item4 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: url(assets/portfolio-4.jpg);
  background-size: cover;
}

.portfolio-container {
  text-align: left;
  width: 100%;
  margin: auto;
}

.portfolio-text {
  color: white;
  padding: 50px;
  width: 100%;
} 

.white-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index : 2;
  border : 0px solid white;
  transition: all 0.5s ease-in-out;
}

.white-box:hover {
  border : 30px solid white;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  margin-bottom: 30px;
  padding-top: 14px;
  text-align: center;
  background-color: rgb(0, 94, 255);
  border-radius: 50px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-item i {
  color: white;
}

@media screen and (max-width: 768px) {
  .landing-button {
    padding: 15px 20px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  /* fs-dis */
  .fs-dis {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fs-dis-desc {
    width: 100%;
  }

  /* service */
  .service-desc {
    flex-direction: column;
  }

  .service-desc .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* portfolio */
  .portfolio-item1 {
    float: none;
    width: 100%
  }

  .portfolio-item2 {
    float: none;
    width: 100%
  }

  .portfolio-item3 {
    float: none;
    width: 100%
  }

  .portfolio-item4 {
    float: none;
    width: 100%
  }
}