:root {
  scroll-behavior: auto;
}

.dark {
  background-color: black;
  color: white;
}

.list-group {
  overflow: hidden;
  height: 0;
  transition: all 1s;
}
.show {
  height: 205px;
}

.black-bg {
  width: 100%;
  height: 100%;
  // position: fixed는 브라우저의 전체 화면(viewport)을 기준으로 HTML 요소를 배치
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  padding: 30px;
  // display: none;
  // visibility: hidden => 애니메이션줄 때, display : none 대용
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.8s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 

.show-modal {
  // display : block;
  // visibility: visible; => 애니메이션줄 때, display : block 대용
  visibility: visible;
  height: 100%;
  opacity: 1;
}

.main-bg {
  padding: 100px 20px;
  background-color: lightgrey;
}

.slide-container {
  width: 300vw;
  transition: all 0.5s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 0.2s;
}

.progress {
  top: 70px;
  height: 5px;
  background-color: salmon;
  position: fixed;
  z-index: 10;
  width: 0;
}