* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
  color: #273444;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
}

.profile-location {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #8492a6;
}

.profile-detail dt {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #8492a6;
}

.profile-detail dd {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  color: #0066ff;
}

/* ▼ WHERE YOUR CODE BEGINS */
body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.profile {
  width: 386px;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: white;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-bottom: 16px;
}

.profile-name {
  margin-bottom: 4px;
}

.profile-location {
  margin-bottom: 32px;
}

/* 간혹 flex를 사용했을 때 별도로 width 값을 부여하지 않을 경우, 스스로 사이즈를 조절하여 줄어드는 경우가 있다 */
/* 따라서 그럴 때, 내가 width 값을 100%로 조절하면 된다. */
.profile-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}