* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 216px;
}

.loading-title {
  font-size: 18px;
  line-height: 1.33333333;
  text-align: center;
  margin-bottom: 20px;
  animation-name: flicker;
  animation-duration: 1600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  border-radius: 100px;
  background-color: #E5EAEF;
  overflow: hidden;
}

.progress-bar-gauge {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  border-radius: 100px;
  background-color: #13CE66;
  animation-name: loading-bar;
  animation-duration: 1600ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loading-bar {
  0% {
    width: 0;
    opacity: 1;
  }

  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}