.flip-outer {
  width: 300px;
  height: 300px;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
}

.flip-inner:hover {
  transform: rotateY(180deg);
}

.front {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index : 1;
}

.back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding-top: 40%;
  box-sizing: border-box;
  background: yellow;
  text-align: center;
  position: absolute;
  transform: rotateY(180deg);
}